hw/quartus/.qsys_edit/
hw/quartus/*.txt
hw/quartus/db/
hw/quartus/hps_isw_handoff/
hw/quartus/incremental_db/
hw/quartus/output_files/
hw/quartus/system/


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

*~
